$primary-color: #8E44AD;
$secondary-color : #FCF6FF;
$light-grey-text : #C4C4C4;
$medium-grey-text : #878787;
$text-white: #FFFFFF;
$dark-grey-text : #404040;
$grey-text: #403E3E;
$black-text : #070708;
$pure-black : #000000;
$new-black: #222222;
$grey-background : #F2E8F7;
$light-purple : #6a1b9a;
$light-black: #0000008A;
$secondary-background : #FCF6FF;
$medium-grey-background : #DEDEDE;
$white-background : #fdf7ff;
$border-color : #9a9a9a;
$list-color : #6c6480;
$purple-color: #812DA4;
$light-purple-color: #F0CBFF73;
$grey: #8F8F8F;
$grey-color: #CCCCCC;
$text-grey: #5B5B5B;
$text-grey-color: #BBBBBB;
$light-grey: #969696;
$white-text: #E9F7F8D9;
$height: 54px;
$form-purple: $primary-color;
$radius: 4px;
$form-input-bg: #fdf5ff;
$form-input-placeholder:#979797;
$text-red:#d20202;
$font-main: "Poppins", sans-serif;
$radius-form: 6px;
$height-one: 48px;
$silver-grey : #ccc;
$dark-grey : #5B5B5B;
$lavender-bg :#e0c4eb